# <center> âœ¨A Quick Guide to libroâœ¨
## <center> ğŸ‰ğŸ§™ğŸ”® æ¬¢è¿ä½¿ç”¨ libro
**<center> libroï¼Œä¸åªæ˜¯ notebookï¼Œæ›´æ˜¯ä¸€ä¸ªçµæ„ŸåŠ é€Ÿå™¨ï¼**

**libro æ˜¯æ”¯æŒç”Ÿæˆå¼ AI èƒ½åŠ›çš„å¯å®šåˆ¶ notebook äº§å“æ–¹æ¡ˆã€‚æä¾›å•†ä¸šçº§ notebook äº§å“çš„ä½“éªŒï¼Œæ·±åº¦é›†æˆ AI èƒ½åŠ›ï¼Œå¯ä»¥è½»æ¾é›†æˆåˆ°æ‚¨çš„ç ”å‘ç¯å¢ƒä¸­ï¼Œä¸ºæ‚¨æ„å»ºä¸€æµçš„ AIã€æ•°æ®ç§‘å­¦ç ”å‘æ–¹æ¡ˆã€‚è®©æˆ‘ä»¬ç”¨ä¸€ç§æœ‰è¶£çš„æ–¹å¼å¸¦æ‚¨å¿«é€Ÿä¸Šæ‰‹ï¼Œè§£é”åŸºäº libro çš„å…¨æ–°å·¥ä½œä½“éªŒï¼**

### Step 1ï¼šå¼€å¯ Notebook ä¹‹é—¨ ğŸ”‘

åœ¨ç»ˆç«¯ä¸­è¿è¡Œ `libro generate config ` ç”Ÿæˆ ` ~/.libro/libro_config.yaml` æ–‡ä»¶ï¼ŒæŒ‰ç…§å¦‚ä¸‹å†…å®¹ï¼Œå¯¹ libro ä¸­å¤§æ¨¡å‹å’Œæ•°æ®åº“ç›¸å…³çš„é…ç½®ï¼Œå¹¶ä¸”å¯ç”¨ libro_sqlã€libro_ai æ‰©å±•ã€‚èµ¶å¿«è¯•è¯•å§ï½

```yaml
llm:
  DASHSCOPE_API_KEY: xxxxxxx
  OPENAI_API_KEY: xxxxxxxx
  default_model: chatgpt

db:
  - db_type: mysql
    username: "root"
    password: "12345678"
    host: "127.0.0.1"
    port: 3306
    database: sql_demo

ipython_extensions:
  libro_ai: True
  libro_sql: True
```

### Step 2ï¼šSQL Cellï¼Œæ•°æ®ç•Œçš„é­”æ³•æ£’ ğŸª„

libro æ”¯æŒä½¿ç”¨ SQL Cell æ¥ç®€åŒ–æ•°æ®åº“äº¤äº’ï¼Œå®ƒå°±åƒä¸€ä¸ªå¯¹è¯æ¡†ï¼Œç›´æ¥å¯¹æ¥æ‚¨çš„æ•°æ®åº“ï¼Œä¸éœ€è¦ä»»ä½•é¢å¤–å·¥å…·ï¼Œæ•°æ®åˆ†æè½»æ¾æå®šï¼

é€šè¿‡åœ¨ libro ä¸­ç»“åˆ SQL å’Œ Pythonï¼Œæ‚¨å¯ä»¥ï¼š

- ç›´æ¥æŸ¥è¯¢æ•°æ®åº“ï¼Œå¿«é€Ÿè·å–æ•°æ®ï¼Œæ”¯æŒæŠŠç»“æœä¿å­˜ä¸º dataframeã€‚
- ä½¿ç”¨ Python å¯¹æŸ¥è¯¢ç»“æœè¿›è¡Œè¿›ä¸€æ­¥çš„å¤„ç†å’Œå¯è§†åŒ–ã€‚
- å°† SQL çš„å¼ºå¤§æŸ¥è¯¢èƒ½åŠ›ä¸ Notebook çš„åŠ¨æ€æ€§ç»“åˆï¼Œæå‡å¼€å‘æ•ˆç‡ã€‚

èµ¶å¿«è¯•è¯•å§ï½

In [5]:
%%sql 
{"result_variable":"df_1","db_id":"sqlite: sql_demo","sql_script":"select * from products"}

   id        name   price  quantity           created_at
0   1      Laptop  999.99        10  2024-11-21 17:06:45
1   2  Smartphone  499.99        25  2024-11-21 17:06:45
2   3      Tablet  299.99        15  2024-11-21 17:06:45
3   4  Headphones   79.99        50  2024-11-21 17:06:45
4   5  Smartwatch  199.99        20  2024-11-21 17:06:45

In [6]:
df_1

   id        name   price  quantity           created_at
0   1      Laptop  999.99        10  2024-11-21 17:06:45
1   2  Smartphone  499.99        25  2024-11-21 17:06:45
2   3      Tablet  299.99        15  2024-11-21 17:06:45
3   4  Headphones   79.99        50  2024-11-21 17:06:45
4   5  Smartwatch  199.99        20  2024-11-21 17:06:45

### Step 3ï¼šAI åŠ©æ‰‹ï¼Œå¼€å‘è€…çš„å¥½æ­æ¡£ ğŸ¤–

#### é”™è¯¯ä¿®å¤

å½“ Cell æ‰§è¡Œå‡ºç°æŠ¥é”™æ—¶ï¼Œåªéœ€ä¸€é”®ç‚¹å‡» â€œFix with AIâ€ æŒ‰é’®ï¼ŒåŠ©æ‰‹ä¼šè‡ªåŠ¨åˆ†æé”™è¯¯å¹¶ç»™å‡ºä¿®å¤å»ºè®®ï¼Œå¸®åŠ©æ‚¨å¿«é€Ÿè§£å†³é—®é¢˜ï¼Œæ¢å¤é¡ºåˆ©çš„ç¼–ç¨‹ä½“éªŒã€‚èµ¶å¿«è¯•è¯•ä¿®å¤ä¸‹é¢çš„æ‰§è¡ŒæŠ¥é”™å§ï½

In [2]:
a

NameError: name 'a' is not defined

#### AI å¯¹è¯

æ‚¨å¯ä»¥ç‚¹å‡»ä¼šè¯æŒ‰é’® [ é¡¶éƒ¨å³ä¾§å·¥å…·æ  / Cell å³ä¾§å·¥å…·æ  ] ç›´æ¥ä¸ AI è¿›è¡Œäº’åŠ¨ï¼Œè·å¾—ä¸å½“å‰ä»£ç ç›¸å…³çš„æ·±å…¥è§£ç­”å’Œä¼˜åŒ–å»ºè®®ï¼Œæå‡ç¼–ç¨‹æ•ˆç‡ã€‚èµ¶å¿«è¯•è¯•ä¸ libro çš„ AI å¯¹è¯å§ï½

#### ä»£ç è§£é‡Š
æ‚¨å¯ä»¥ç‚¹å‡»é­”æ³•æŒ‰é’® [ Cell å³ä¾§å·¥å…·æ  ] ï¼Œlibro å¸®æ‚¨ç†è§£ Cell ä¸­ä»£ç çš„åŠŸèƒ½å’Œé€»è¾‘ï¼Œè®©ç¼–ç¨‹å­¦ä¹ å˜å¾—æ›´åŠ è½»æ¾ã€‚èµ¶å¿«è¯•è¯•è§£é‡Šä¸‹é¢è¿™æ®µä»£ç å§ï½

In [ ]:
def quick_sort(arr):
    if len(arr) <= 1:  
        return arr
    
    pivot = arr[len(arr) // 2]  
    left = [x for x in arr if x < pivot]  
    middle = [x for x in arr if x == pivot]  
    right = [x for x in arr if x > pivot]  
    return quick_sort(left) + middle + quick_sort(right)

#### ä»£ç ä¼˜åŒ–
æ‚¨å¯ä»¥ç‚¹å‡»é­”æ³•æŒ‰é’® [ Cell å³ä¾§å·¥å…·æ  ] ï¼Œlibro èƒ½å¤Ÿåˆ†æ Cell ä¸­çš„ä»£ç ï¼Œå¹¶æä¾›ä¼˜åŒ–å»ºè®®ï¼Œè®©æ‚¨çš„ä»£ç æ›´åŠ é«˜æ•ˆã€å¯è¯»ï¼Œæå‡æ•´ä½“ç¼–ç¨‹ä½“éªŒã€‚èµ¶å¿«è¯•ç€ä¼˜åŒ–ä¸‹é¢çš„è¿™ä¸€æ®µä»£ç å§ï½

In [ ]:
def calculate_sum(numbers):
    total = 0
    for i in range(len(numbers)):
        total += numbers[i]
    return total

### Step 4ï¼šAI å·¥ä½œæµå¼€å‘åˆ©å™¨ğŸ’¡

Prompt Cell æ˜¯ä¸€ç§ç‰¹æ®Šçš„ notebook cellï¼Œé€šè¿‡è¿™ä¸ª cellï¼Œç”¨æˆ·åªéœ€è¦è¾“å…¥è‡ªç„¶è¯­è¨€æŒ‡ä»¤ï¼Œå°±å¯ä»¥è°ƒç”¨å¤§æ¨¡å‹è¿›è¡Œæ¨ç†ï¼Œå¾—åˆ°æ‰€éœ€çš„è¾“å‡ºç»“æœã€‚å®ƒçš„å‡ºç°å‡å°‘äº†ç¼–å†™å¤æ‚ä»£ç çš„éœ€æ±‚ï¼Œå¹¶ä¸”å¯ä»¥çµæ´»åœ°èå…¥ç°æœ‰çš„å·¥ä½œæµä¸­ã€‚èµ¶å¿«è¯•è¯•ä¸‹é¢çš„ä¾‹å­å§ï½

In [3]:
output_language = "English"

In [4]:
%%prompt 
{"model_name":"LLM:gpt4","chat_key":"LLM:gpt4","prompt":"You are a helpful assistant that translates Chinese to {output_language}.","cell_id":"310bf74e-295d-4a31-8a36-7109cac02982","record":"chat1"}

In [6]:
%%prompt 
{"model_name":"LLM:gpt4","chat_key":"LLM:gpt4","prompt":"ä»Šå¤©å¤©æ°”çœŸå¥½","cell_id":"3281ba0d-ae5d-4510-b7a5-4968b2300e6f","record":"chat1"}

### æœ€å ğŸ¢

é¢å‘æœªæ¥ï¼Œlibro å°†ç»§ç»­å‘æŒ¥è‡ªèº«çµæ´»å®šåˆ¶ã€è½»æ¾é›†æˆçš„ç‰¹ç‚¹ï¼Œä¸º notebook ç±»äº§å“æ¢ç´¢æ›´å¤šçš„ä½¿ç”¨åœºæ™¯ï¼Œè®© libro æˆä¸ºä½“éªŒæœ€å¥½çš„ notebook äº§å“ã€‚

åŒæ—¶ï¼Œlibro å°†ä¸æ–­æ¢ç´¢ä¸å¤§æ¨¡å‹ç»“åˆçš„åº”ç”¨åœºæ™¯ï¼Œé€šè¿‡å¤§æ¨¡å‹è®©ç”¨æˆ·æ‹¥æœ‰æ›´åŠ æ™ºèƒ½çš„ç¼–ç¨‹ä½“éªŒï¼Œè®© libro ç¼–ç¨‹åƒå†™æ–‡æ¡£ä¸€æ ·å®¹æ˜“ã€‚

æˆ‘ä»¬æ¬¢è¿ä¸åŒåœºæ™¯çš„å¼€å‘è€…ï¼Œè·Ÿæˆ‘ä»¬ä¸€èµ·å»ºè®¾ libro é¡¹ç›®ï¼Œå†æ¬¡é™„ä¸Š libro å¼€æºé¡¹ç›®é“¾æ¥ï¼Œå¦‚æœä½ ä¹Ÿå–œæ¬¢è¿™ä¸ªé¡¹ç›®ï¼Œæ¬¢è¿åœ¨ GitHub ä¸Šä¸ºæˆ‘ä»¬ç‚¹äº® ğŸŒŸğŸŒŸğŸŒŸ

https://github.com/difizen/libro

**libroï¼Œä¸åªæ˜¯ç¬”è®°æœ¬ï¼Œæ›´æ˜¯ä¸€ä¸ªçµæ„ŸåŠ é€Ÿå™¨ï¼**