# <center> ✨A Quick Guide to libro✨
## <center> 🎉🧙🔮 欢迎使用 libro
**<center> libro，不只是 notebook，更是一个灵感加速器！**

**libro 是支持生成式 AI 能力的可定制 notebook 产品方案。提供商业级 notebook 产品的体验，深度集成 AI 能力，可以轻松集成到您的研发环境中，为您构建一流的 AI、数据科学研发方案。让我们用一种有趣的方式带您快速上手，解锁基于 libro 的全新工作体验！**

### Step 1：开启 Notebook 之门 🔑

在终端中运行 `libro generate config ` 生成 ` ~/.libro/libro_config.yaml` 文件，按照如下内容，对 libro 中大模型和数据库相关的配置，并且启用 libro_sql、libro_ai 扩展。赶快试试吧～

```yaml
llm:
  DASHSCOPE_API_KEY: xxxxxxx
  OPENAI_API_KEY: xxxxxxxx
  default_model: chatgpt

db:
  - db_type: mysql
    username: "root"
    password: "12345678"
    host: "127.0.0.1"
    port: 3306
    database: sql_demo

ipython_extensions:
  libro_ai: True
  libro_sql: True
```

### Step 2：SQL Cell，数据界的魔法棒 🪄

libro 支持使用 SQL Cell 来简化数据库交互，它就像一个对话框，直接对接您的数据库，不需要任何额外工具，数据分析轻松搞定！

通过在 libro 中结合 SQL 和 Python，您可以：

- 直接查询数据库，快速获取数据，支持把结果保存为 dataframe。
- 使用 Python 对查询结果进行进一步的处理和可视化。
- 将 SQL 的强大查询能力与 Notebook 的动态性结合，提升开发效率。

赶快试试吧～

In [5]:
%%sql 
{"result_variable":"df_1","db_id":"sqlite: sql_demo","sql_script":"select * from products"}

   id        name   price  quantity           created_at
0   1      Laptop  999.99        10  2024-11-21 17:06:45
1   2  Smartphone  499.99        25  2024-11-21 17:06:45
2   3      Tablet  299.99        15  2024-11-21 17:06:45
3   4  Headphones   79.99        50  2024-11-21 17:06:45
4   5  Smartwatch  199.99        20  2024-11-21 17:06:45

In [6]:
df_1

   id        name   price  quantity           created_at
0   1      Laptop  999.99        10  2024-11-21 17:06:45
1   2  Smartphone  499.99        25  2024-11-21 17:06:45
2   3      Tablet  299.99        15  2024-11-21 17:06:45
3   4  Headphones   79.99        50  2024-11-21 17:06:45
4   5  Smartwatch  199.99        20  2024-11-21 17:06:45

### Step 3：AI 助手，开发者的好搭档 🤖

#### 错误修复

当 Cell 执行出现报错时，只需一键点击 “Fix with AI” 按钮，助手会自动分析错误并给出修复建议，帮助您快速解决问题，恢复顺利的编程体验。赶快试试修复下面的执行报错吧～

In [2]:
a

NameError: name 'a' is not defined

#### AI 对话

您可以点击会话按钮 [ 顶部右侧工具栏 / Cell 右侧工具栏 ] 直接与 AI 进行互动，获得与当前代码相关的深入解答和优化建议，提升编程效率。赶快试试与 libro 的 AI 对话吧～

#### 代码解释
您可以点击魔法按钮 [ Cell 右侧工具栏 ] ，libro 帮您理解 Cell 中代码的功能和逻辑，让编程学习变得更加轻松。赶快试试解释下面这段代码吧～

In [ ]:
def quick_sort(arr):
    if len(arr) <= 1:  
        return arr
    
    pivot = arr[len(arr) // 2]  
    left = [x for x in arr if x < pivot]  
    middle = [x for x in arr if x == pivot]  
    right = [x for x in arr if x > pivot]  
    return quick_sort(left) + middle + quick_sort(right)

#### 代码优化
您可以点击魔法按钮 [ Cell 右侧工具栏 ] ，libro 能够分析 Cell 中的代码，并提供优化建议，让您的代码更加高效、可读，提升整体编程体验。赶快试着优化下面的这一段代码吧～

In [ ]:
def calculate_sum(numbers):
    total = 0
    for i in range(len(numbers)):
        total += numbers[i]
    return total

### Step 4：AI 工作流开发利器💡

Prompt Cell 是一种特殊的 notebook cell，通过这个 cell，用户只需要输入自然语言指令，就可以调用大模型进行推理，得到所需的输出结果。它的出现减少了编写复杂代码的需求，并且可以灵活地融入现有的工作流中。赶快试试下面的例子吧～

In [3]:
output_language = "English"

In [4]:
%%prompt 
{"model_name":"LLM:gpt4","chat_key":"LLM:gpt4","prompt":"You are a helpful assistant that translates Chinese to {output_language}.","cell_id":"310bf74e-295d-4a31-8a36-7109cac02982","record":"chat1"}

In [6]:
%%prompt 
{"model_name":"LLM:gpt4","chat_key":"LLM:gpt4","prompt":"今天天气真好","cell_id":"3281ba0d-ae5d-4510-b7a5-4968b2300e6f","record":"chat1"}

### 最后 🎢

面向未来，libro 将继续发挥自身灵活定制、轻松集成的特点，为 notebook 类产品探索更多的使用场景，让 libro 成为体验最好的 notebook 产品。

同时，libro 将不断探索与大模型结合的应用场景，通过大模型让用户拥有更加智能的编程体验，让 libro 编程像写文档一样容易。

我们欢迎不同场景的开发者，跟我们一起建设 libro 项目，再次附上 libro 开源项目链接，如果你也喜欢这个项目，欢迎在 GitHub 上为我们点亮 🌟🌟🌟

https://github.com/difizen/libro

**libro，不只是笔记本，更是一个灵感加速器！**